.footer {
    background-color: #7fbaf5;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-family: "Courier New", Courier, monospace;
}

.footer a {
    color: white;
    text-decoration: underline;
    margin: 0 5px;
}

.footer a:hover {
    opacity: 0.8;
}
