* {
    margin: 0;
    padding: 0;
}

.banner h1 {
    background-color: #1eff29;
    width: 100%;
    height: 150px;
    background-color: #1eff29;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

p {
    text-align: center;
}